.jp2ua.overlay {
        position: absolute; /* important */
        top: 0px; /* start from top */
        left: 0px; /* start from left */
        height: 100%; /* cover the whole page */
        width: 100%;  /* cover the whole page */
        display: none; /* don't show it '*/

        /* styling bellow */
        background-color: black;
	z-index: 1000;
}

.jp2ua.window {
        position: absolute; /* important so we can position it on center later */
        display: none; /* don't show it */

        /* styling bellow */
        color: #fff;
	top: 0;

        border: 1px solid gray;
        background: #fff;
        color: black;

	z-index: 1001;

	padding: 5px 30px 20px 30px;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);	
}
